.header {
    background: linear-gradient(90deg, #87CEFA, #90EE90, #FFD700);
    background-size: 200% 100%;
    animation: gradientAnimation 10s ease infinite;
    color: white;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-img {
    height: 50px;
    width: 50px;
    background-image: url('../../../assets/img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.logo {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.container {
    background-color: transparent;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}