.footer {
    padding: 1.5rem 0;
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    margin-top: auto;
    /* Garante que o footer fique no final da página */
}

.linkedin-link {
    color: #0077b5;
    text-decoration: none;
    font-weight: 500;
}